@font-face {
    font-family: "chapeau";
     src: url(../fonts/chapeauweb-regular.woff) format("woff");
     font-weight: 500;
 }

 @font-face {
     font-family: "chapeau";
     src: url(../fonts/chapeauweb-bold.woff) format("woff");
     font-weight: bold;
 }

 @font-face {
     font-family: "chapeau";
     src: url(../fonts/chapeauweb-light.woff) format("woff");
     font-weight: lighter;
 }

 html {
     -webkit-font-smoothing: antialiased;
     /*font-family: 'Rubik', sans-serif;*/
     font-family: "chapeau";
     line-height: 1.5;
     color: #333333;
 }

 * {
     box-sizing: border-box;
 }

 body {
     height: 540px;
 }
 
 body a {
     color: #02162D;
     text-decoration: none !important;
 }
 /* start typography */

 h1 {
     font-size: 20px;
     font-weight: 500;
     color: #333333;
     margin: 0px;
     padding-top: 10px;
     padding-bottom: 10px;
 }

 p {
     margin: 0px;
     font-size: 14px;
 }

 .top-logo-container {
     color:  #fff;
     text-align: center;
     width: 100%;
     min-width: 320px;
     padding-top: 10px;
     background: #02162D
 }

 .top-logo-container img {
     width: 170px;
 }

 .skye-terms {
     font-size: 12px !important;
     text-align: center;
     max-width: 600px;
 }

 .skye-terms-container {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     padding-top: 10px;
     padding-bottom: 50px;
 }

 .bold {
     font-weight: 700;
 }

 /* end typography */

 /* structure  */

 .skye-size-container {
     width: 100%;
     border: 0;
     margin: auto;
     border-radius: 4px;
 }

 .info-snippet-container {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
     -ms-flex-direction: column;
     flex-direction: column;
     max-width: 200px;
     -webkit-box-align: start;
     -ms-flex-align: start;
     align-items: flex-start;
     margin-right: 25px;
     margin-left: 25px;
 }

 .skye-text-container, .skye-img-container {
     width: 100%;
     text-align: center;
 }

 .skye-img-container img {
     width: 38px;  
     max-height: 36px;          
 }

 .footer-img-container {
     height: 20px;
 }

 .footer-img-container img {
     height: 100%;
 }

 .skye-container {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
     -ms-flex-direction: row;
     flex-direction: row;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     padding-top: 60px;
     padding-bottom: 70px;
 }

 .skye-item {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
     -ms-flex-direction: row;
     flex-direction: row;
     margin-bottom: 16px;
 }

 .flex-column-centered {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -ms-flex-direction: column;
     flex-direction: column;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
 }

 .flex-row-centered {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -ms-flex-direction: row;
     flex-direction: row;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
 }

 .text-align-center {
     text-align: center;
 }

 /* end structure  */

 .zm-icon {
     margin-right: 6px;
 }

 .skye-text {
     font-size: 18px;
     font-weight: 400;
 }
 .skye-text-small {
     font-size: 14px;
     font-weight: 400;
 }

 .text-bold {
     font-weight: 500
 }

 .margin-right-1 {
     margin-right: 24px;
 }

 .skye-terms {
     padding-left: 15px;
     padding-right: 15px;
     font-size: 10px;
 }

 .top-column {
     width: 50%;
 }

 .skye-size-container a { 
     margin-left: 0%;
     text-align: center;
     display: inline-block;
     flex-direction: row;
 }

 @media (max-width: 530px) {
     .skye-container {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
         -ms-flex-direction: column;
         flex-direction: column;
         -webkit-box-pack: center;
         -ms-flex-pack: center;
         justify-content: center;
         -webkit-box-align: center;
         -ms-flex-align: center;
         align-items: center;
         padding-top: 25px;
         padding-bottom: 25px;
     }

     .info-snippet-container {
         flex-direction: row;
         padding-bottom: 25px;
         margin-left: 45px;
         margin-right: 55px;
         max-width: 400px;
         /*min-width: 400px;*/
         min-width: 320px;
     }

     .skye-text-container, .skye-img-container {
         width: auto;
         text-align: left;
     }

     .skye-img-container {
         margin-right: 12px;
         margin-top: 18px;
     }

     .skye-img-container img {
         width: 32px;
         margin-left: 10px;
     }

     h1 {
         font-size: 30px;
     }

     p {
         font-size: 14px;
     }

     .skye-icon-container {
         width: 36px;
     }

     .skye-text, .skye-text-small {
         font-size: 14px;
         display: inline;
     }

     .skye-terms br {
         display: none;
     }

     .skye-terms-container {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
         -ms-flex-direction: column;
         flex-direction: column;
         -webkit-box-pack: center;
         -ms-flex-pack: center;
         justify-content: center;
         -webkit-box-align: center;
         -ms-flex-align: center;
         align-items: center;
     }
 }
 a.button {
     text-decoration: none;
 }

.button {
 background: #02162D;
 background: -moz-linear-gradient(left, #b8284c 0%, #103070 100%);
 background: -webkit-linear-gradient(left, #b8284c 0%, #103070 100%);
 background: linear-gradient(to right, #b8284c 0%, #103070 100%);
 filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='$color-primary', endColorstr='$color-secondary', GradientType=1);
 -webkit-border-radius: 40px;
 -moz-border-radius: 40px;
 -ms-border-radius: 40px;
 border-radius: 40px;
 font-family: "chapeau";
 letter-spacing: 1px;
 display: inline-block;
 color: #fff;
 padding: 15px 30px;
 text-align: center;    
 border: 1.5px solid #fff;
 /*font-size: 14px;*/
 font-weight: bold;
 letter-spacing: 3px;
 text-transform: uppercase;
 cursor: pointer;
}

.button.strong {
 font-weight: bold;
 padding: 15px 30px;
}

.button.static:hover {
 background: #02162D;
 background: -moz-linear-gradient(left, #b8284c 0%, #103070 100%);
 background: -webkit-linear-gradient(left, #b8284c 0%, #103070 100%);
 background: linear-gradient(to right, #b8284c 0%, #103070 100%);
 filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='$color-primary', endColorstr='$color-secondary', GradientType=1);
 cursor: pointer;
 border: 1.5px solid #fff;
 /*color: #fff;*/
 color: #02162D;
}

.button.not-active {
 background: #fff !important;
 color: #b8284c;
}

.button.not-active,
.button:hover,
.button:focus,
.button:active {
 color: #02162D;
 border: 1.5px solid #b8284c;
 background: #fff;
}

.button.borderless {
 box-shadow: 0px 2px 5px rgba(51,51,51,0.2);   
 border: none !important;
}

@media screen and (max-width:576px) {
 .button:hover,
 .button:focus,
 .button:active {
     background: #02162D;
     background: -moz-linear-gradient(left, #b8284c 0%, #103070 100%);
     background: -webkit-linear-gradient(left, #b8284c 0%, #103070 100%);
     background: linear-gradient(to right, #b8284c 0%, #103070 100%);
     filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='$color-primary', endColorstr='$color-secondary', GradientType=1);
     /*color: #fff;*/
     color: #02162D;
     border: 1.5px solid #fff;
 }    
}    